<div class="ui  card">
	<div class="content">
		<div class="right floated content">
			<div class="ui icon buttons">
			<div class="ui blue button" {{action (action "moveLeft")}}><i class="icon arrow left"></i></div>
			<div class="ui blue button" {{action (action "moveRight")}}><i class="icon arrow right"></i></div>
			<div class="ui green button" {{action "edit"}}><i class="icon edit"></i></div>
			<div class="ui red button"  {{action "delete"}}><i class="icon trash"></i></div>
		</div>	
		</div>
	{{#liquid-if isEditing}}
		<form class="ui form" {{action "save" on="submit"}}>
			<div class="two fields">
				<div class="field">
					{{input value=model.name}}
				</div>
				<div class="field">
					<input type="submit" class="ui green button" value="Ulozit">
				</div>
			</div>
		</form>

	{{else}}
		<h3>{{model.name}}</h3>
	{{/liquid-if}}
	<div class="content">
		<form {{action "addItem" on="submit"}}>
		<div class="ui {{if isLoading 'loading'}} form">
			<div class="four fields">
			<div class="field">
				<label>Text</label>
				{{input value=newItem.name}}
			</div>
			<div class="field">
				<label>Mnozstvi</label>
				{{input value=newItem.weight}}
			</div>
			<div class="field">
				<label>Cena</label>
			{{input value=newItem.price}}
			</div>
			<div class="field">
				<label>&nbsp;</label>
				<button class="ui button" type="submit">Pridat</button>
			</div>
		</div>
		</div>
	</form>
	</div>
	<div class="ui divider"></div>
	<div class="ui middle aligned divided list">
		{{#each sortedItems as |item|}}
		{{!-- {{log item}} --}}
		{{item-unit model=item classNames="item"}}
		{{/each}}
	</div>
</div>
</div>