<div class="right floated content">
	<div class="ui icon buttons">
		<div class="ui green button" {{action "edit"}}><i class="icon edit"></i></div>
		<div class="ui blue button" {{action "moveUp"}}><i class="icon arrow up"></i></div>
		<div class="ui blue button" {{action "moveDown"}}><i class="icon arrow down"></i></div>
		<div class="ui red button" {{action "delete"}}><i class="icon trash"></i></div>
	</div>
</div>
<div class="content">
{{!-- {{log model}} --}}
	{{#if isEditing}}
	<form {{action "save" on="submit"}} class="ui form">
	<div class="ui stackable grid">
		
				<div class="nine wide column">
					{{input value=model.name placeholder="Jmeno polozky"}}
				</div>
				<div class="three wide column">
					{{input value=model.weight placeholder="Mnozstvi polozky"}}
				</div>
				<div class="four wide column">
					{{input value=model.price placeholder="Cena polozky"}}
				</div>
	</div>
	<div class="ui hidden divider"></div>
				<input type="submit" value="Ulozit" class="ui green button">
				<button {{action "cancel"}} class="ui button">Zrusit</button>
	</form>
	{{else}}
	<div class="ui stackable grid {{if model.hasDirtyAttributes "unsaved"}}">
		<div class="nine wide column">{{model.name}}</div>
		<div class="three wide column">
			{{model.weight}}
		</div>
		<div class="four wide column"> / {{model.price}},-</div>
	</div>
	{{/if}}
</div>