main{margin-top:3em;padding:0 4%;}.ui.card{width:100%}@media only screen and (max-width:1199px){.ui.card .right.floateed.content{float:left}.ui.card .content{clear:both}}
.unsaved {
	color: red;
}
.item .buttons {
	opacity: 0.1;
	transition: 0.2s opacity;
}

.item:hover .buttons {
	opacity: 1;
}

.card > .content > .content > .buttons {
	opacity: 0.1;
	transition: 0.2s opacity;
	
}
.card:hover > .content > .content > .buttons {
	opacity: 1;
}