<div class="ui inverted menu">
	<div class="ui header item">
		<b>Restu administrace</b>
	</div>
	<div class="ui item">
		<i class="icon food"></i> {{#link-to 'index' (query-params section="jidlo")}}Jidelni listek{{/link-to}}
	</div>
	<div class="ui item">
		<i class="icon cocktail"></i> {{#link-to 'index' (query-params section="napoje")}}Napojovy listek{{/link-to}}
		
	</div>
	<div class="ui item">
		<i class="icon world"></i> <a href="http://restauracemikulov.cz">Prejit na web</a>
	</div>
</div>

<main>{{outlet}}</main>
