<div {{action "updateMenu"}} class="ui right floated {{if isUpdatingMenu 'loading'}} green button">Aktualizovat menu</div>
{{#liquid-if alert.message}}
	<div class="ui {{alert.type}} message">
		{{alert.message}}
	</div>
{{/liquid-if}}
<h2>Nahrat menu</h2>
{{#pl-uploader for="upload-menu" extensions="pdf" onfileadd="uploadMenu" as |queue dropzone|}}
  <div class="dropzone" id={{dropzone.id}}>
    {{#if dropzone.active}}
      {{#if dropzone.valid}}
        Vlozte soubor zde
      {{else}}
        Neplatny soubor
      {{/if}}
    {{else if queue.length}}
      Nahravam {{queue.length}} souboru. ({{queue.progress}}%)
    {{else}}
      <p>
        {{#if dropzone.enabled}}
          Presunte sem soubor, nebo
        {{/if}}
        <a id="upload-menu">kliknete zde</a>
      </p>
    {{/if}}
    <h4>Nahrat do:</h4>
    Akcni menu: {{radio-button value="akcnimenu" name="Akcni menu" groupValue=fileName}}
    Jidelni menu: {{radio-button value="menu" name="Jidelni menu" groupValue=fileName}}
  </div>
{{/pl-uploader}}

<h1 class="ui header">
	{{#liquid-if isJidlo use="crossFade"}}
	<i class="food icon"></i><div class="content">Jidelni listek</div>
	{{else}}
	<i class="cocktail icon"></i><div class="content">Napojovy listek</div>
	{{/liquid-if}}
</h1>
<form {{action "addCategory" on="submit"}}>
	<div class="ui {{if isLoading 'loading'}} form">
		<div class="two fields">
			<div class="field">
				<label>Nadpis kategorie</label>
				{{input value=newCategory.name placeholder="Nadpis kategorie"}}
			</div>
			<div class="field">
				<label>&nbsp;</label>
				<button type="submit" class="ui green button"><i class="icon add"></i> Pridat kategorii</button>
			</div>
		</div>
	</div>
</form>
<div class="ui divider"></div>
<div class="ui stackable grid">
{{#each categories as |category index|}}
	<div class="eight wide column">
		{{category-unit model=category moveLeft=(action "moveCategoryLeft") moveRight=(action "moveCategoryRight")}}
	</div>
{{/each}}</div>
{{outlet}}
